* {
    /* border: 1px solid red; */
    font-family: 'Roboto', sans-serif;
}

.navbar-wrapper {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navbar-container {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-list-items {
    display: flex;
}

ul {
    list-style: none;
}

li {
    color: white;
    padding-right: 30px;
}

a:link {
    text-decoration: none;
}

.main-wrapper {
    display: flex;
    background-color: black;
    padding: 20px;
}

.main-wrapper img {
    height: 1000px;
    width: 1000px;
    padding: 20px;
}

.membership-container {
    background-color: black;
}

.membership-container img {
    width: 300px;
    height: 250px;
    padding: 20px;
}

.membership-list li {
    color: white;
}

.amenities-container {
    background-color: black;
}

.amenities-container img {
    width: 300px;
    height: 250px; 
    padding: 20px;
}

.middle-wrappers {
    background-color: black;
    display: flex;
    justify-content: center;
}

.middle-wrapper1 {
    display: flex;
    background-color: black;
    padding: 20px;
}

.middle-wrapper2 {
    display: flex;
    background-color: black;

}

.trainer1 img {
    width: 300px;
    height: 250px; 
    padding: 20px;
}

.trainer2 img {
    width: 300px;
    height: 250px; 
    padding: 20px;
}

.schedule-container {
    color: white;

}

.schedule-container img {
    width: 300px;
    height: 250px; 
    padding: 20px;
}

.footer-wrapper {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 33%;
}

.map-container img {
    width: 300px;
    height: 250px; 
    padding: 20px;
}

.social-container {
    width: 33%;
}

.contactus-container {
    width: 33%;
}

h1 {
    font-size: 80px;
    padding-top: 20px;
    padding-right: 800px;
}

h2 {
    color: white;
    padding: 20px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: rgb(202, 202, 202);
}

p {
    color: white;
}

form {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
}

button {
    width: 100px;
    height: 50px;
}